@tailwind base;
@tailwind components;

.my-form{
	@apply appearance-none py-3 px-4 bg-gray-200 border border-gray-300 text-base text-gray-700 rounded leading-tight;
}
.btn {
	@apply appearance-none cursor-pointer py-3 px-4 bg-black text-base text-white rounded leading-tight;
}
.my-form:focus, button:focus{
	outline:0;
	@apply border-blue-400;
}
.middle{
	@apply flex justify-center items-center;
}

.h-page { /* PAGE LESS NAVBAR */
	min-height: calc(100vh - 2.5rem);
}

.tw-bg{
	background: #1da1f2;
}
.tw-color{
	color: #1da1f2;
}

.max-w-big{
	max-width: 100rem;
}

./*eye ball LOADER*/
.eye{
    width: 20px;
    height: 20px;
    background-color: rgba(255,255,255,0.8);
    border-radius: 50%;
    box-shadow: 30px 0px 0px 0px rgba(255,255,255,0.8);
    position: relative;
    margin: 36px 26px;
}

.eye:after{
    background-color: #59488b;
    width: 10px;
    height: 10px;
    box-shadow: 30px 0px 0px 0px #59488b;
    border-radius: 50%;
    left: 9px;
    top: 8px;
    position: absolute;
    content: "";
    -webkit-animation: eyeball 2s linear infinite alternate;
       -moz-animation: eyeball 2s linear infinite alternate;
            animation: eyeball 2s linear infinite alternate;
}
@-webkit-keyframes eyeball{
    0%{left: 9px;}
    100%{left: 1px;}
}
@-moz-keyframes eyeball{
    0%{left: 9px;}
    100%{left: 1px;}
}
@keyframes eyeball{
    0%{left: 9px;}
    100%{left: 1px;}
}

@tailwind utilities;
